<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="https://saguileran.github.io/birdsongs/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://saguileran.github.io/birdsongs/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://saguileran.github.io/birdsongs/assets/img/favicon-16x16.png">
<link rel="manifest" href="https://saguileran.github.io/birdsongs/assets/img/site.webmanifest">
<link rel="shortcut icon" href="https://saguileran.github.io/birdsongs/assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="https://saguileran.github.io/birdsongs/assets/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
